<h2>モウドウウェブの目標</h2>
<p>モウドウウェブは、ここを訪れればインターネットの記事やショッピングなどをすべて問題なく利用できるサービスを目指して制作しています。</p>
<p>改善要望や不満点などありましたが、どんどんお問い合わせフォームよりご連絡ください！</p>
<h2>モウドウウェブを作ろうと思ったきっかけ</h2>
<p>僕は、とあるインターネット通販を管理する職業についています。</p>
<p>検索で上位になるために様々な事をしてきました。写真の説明文なども、検索でひっかかるための文章を入れてきました。</p>
<p>そんなある日、1通のメールが届きました。</p>
<p>「私は全盲のものです。○○という商品が検索しても見つからないので困っています」</p>
<p>まず、全盲の方がこんな流暢にメールを書けてWEBサービスを使っているんだという驚きを覚えました。同時に、そういう事をまったく考えて制作していない事の申し訳無さに心が痛み、その日以来モヤモヤが残り続けていました。</p>
<p>現在のインターネットは、晴眼者の利益重視の内容や構造ばかりで、視覚障害者の事などまったく考えられていないと言っても過言ではありません。</p>
<p>そもそも視覚障害者向けのNPO法人のウェブサイトがまったく視覚障害者向けになっていなかったりするのです。</p>
<p>僕にできることは何かないか？とずっと考え、全ての視覚障害者の方がインターネットを楽しむためのポータルサイトを作ろうと思いました。</p>
<h2>今後について</h2>
<p>今はフォーラムなどの簡単な機能しかありませんが、写真解説付きのウェブ検索、今までにない丁寧なテキスト解説付きのショッピングサイトを制作していきたいと思っています。</p>