<%= form_with url: user_sessions_path do |form| %>
  <label>メールアドレス<%= form.text_field :email %></label>
  <label>パスワード<%= form.password_field :password %></label>
  <%= submit_tag "ログイン" %>
<% end %>